
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}
nav ul {
    display: flex;
    justify-content: center;
    background-color: #5ae61990;
    padding: 15px;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background-color: rgba(168, 112, 55, 0.555);
    transition: background-color 0.3s ease;
    border-radius: 6px;
}

nav ul li a:hover {
    background-color: #fff;
    color: rgba(168, 112, 55, 0.555);
}

h1, h2 {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px auto;
    background: rgba(168, 112, 55, 0.555);
    border-radius: 6px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}


p {
    margin-left: 900;
    font-size: 1.2em;
    line-height: 1.5em;
    background-color: rgba(168, 112, 55, 0.555);
    border-radius: 6px;
    padding: 15px;
    max-width: 900px;
}


img {
    display: block;
    margin-left: 900px;
    width: 250px;
    height: 350px;
    border-radius: 50%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    margin-top: -350px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background: #5ae61990;
    color: rgb(114, 68, 21);
    text-decoration: none;
    border-radius: 6px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    margin-left: 700px;
}

.button:hover {
    background-color: rgb(114, 68, 21);
    color: #5ae61990;
}

.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    display: inline-block;
    margin: 10px;
}

.follow {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.follow i {
    font-size: 1.5em;
}

.follow:hover {
    color: rgba(168, 112, 55, 0.555);
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    margin-top: 30px;
    margin-left: none;
    text-align:  center;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    img {
        width: 200px;
        height: 280px;
    }

    .button {
        width: 100%;
    }

    .social-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .follow {
        margin: 5px 0;
    }
}
